# path:   /home/klassiker/.local/share/repos/zenith-xt-usb/.gitignore
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/zenith-usb
# date:   2021-12-21T19:08:20+0100

.dep
obj_*
firmware
!firmware/*.hex
