# path:   /home/klassiker/.local/share/repos/zenith-xt-usb/.gitignore
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/zenith-xt-usb
# date:   2025-08-14T03:49:29+0200

/.dep/
/firmware/*
!/firmware/zenith_usb.hex
/obj_firmware
